body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
    padding: 10%;
    color: antiquewhite;
    background-image: url(106194.jpg);
  }

  #main-content {
    display: none;
  }
  
  .navbar-fixed-bottom {
    position: static;
    padding: 5%;
    padding-bottom: 5%;
  }
  .container {
    color: black;
  }
  
  .footer-text{
    color: black;
    font-weight: bolder;
  }